#login, #loggedin {
    display: none;
}

.text-overflow {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 500px;
}

.wrapper { 
border : 2px solid #000; 
overflow:hidden;
}

.wrapper div {
min-height: 200px;
padding: 10px;
}

#button-group {
  max-height: 70px;
  min-height: 50px;
  max-width: 1000px;
  min-width: 100px;
  background-color: antiquewhite;
}

#button-group2 {
  max-height: 70px;
  min-height: 50px;
  background-color: antiquewhite;
}

#one {
background-color: gray;
float:left; 
margin-right:20px;
width:200px;
border-right:2px solid #000;
min-width: 575px;
}
#two { 
background-color: white;
overflow:hidden;
margin:10px;
border:2px dashed #ccc;
min-height:170px;
}

  .themeBtn {
    max-height: 15px;
  }

  .themeBtn:focus {
    outline: none;
    box-shadow: none;
  }

  .timeBtn {
    max-height: 15px;
  }

  .timeBtn:focus {
    outline: none;
    box-shadow: none;
  }


  


  @font-face {
    font-family: myFirstFont;
    src: url("./CloudyCloud-nREq4.otf") format("opentype");
  }
  
  #header {
    font-family: myFirstFont;
    font-size: 2em;
  }

  #info {
    margin-right: 20px;
  }



@media screen and (max-width: 1000px) {
#one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
}
}